In [1]:
%load_ext autoreload
%autoreload 2

In [73]:
from core.consts import EIA_TEST_SET_HOURS, EIA_EARLIEST_HOUR_UTC
from core.data import get_local_dvc_git_repo, get_DvcRepo
from flows.etl_flow import etl, concurrent_fetch_EIA_data
from prefect import flow
from pathlib import Path
import os
import pandas as pd

In [58]:
local_dvc_repo_path = Path(os.getenv('DVC_LOCAL_REPO_PATH'))
git_repo = get_local_dvc_git_repo()
dvc_repo = get_DvcRepo()

In [66]:
chunk_idx_path = local_dvc_repo_path / 'v1/chunk_idx.parquet'
chunk_data_path = local_dvc_repo_path / 'v1/data'
idx_df = pd.read_parquet(chunk_idx_path)

In [67]:
idx_df

,year,quarter,start_ts,end_ts,data_start_ts,data_end_ts,name,complete
0,2015,3,2015-07-01 00:00:00+00:00,2015-09-30 23:00:00+00:00,2015-07-01 05:00:00+00:00,2015-09-30 23:00:00+00:00,2015_Q3_from_2015-07-01-00_to_2015-09-30-23,False
1,2015,4,2015-10-01 00:00:00+00:00,2015-12-31 23:00:00+00:00,2015-10-01 00:00:00+00:00,2015-12-31 23:00:00+00:00,2015_Q4_from_2015-10-01-00_to_2015-12-31-23,True
2,2016,1,2016-01-01 00:00:00+00:00,2016-03-31 23:00:00+00:00,2016-01-01 00:00:00+00:00,2016-03-31 23:00:00+00:00,2016_Q1_from_2016-01-01-00_to_2016-03-31-23,True
3,2016,2,2016-04-01 00:00:00+00:00,2016-06-30 23:00:00+00:00,2016-04-01 00:00:00+00:00,2016-06-30 23:00:00+00:00,2016_Q2_from_2016-04-01-00_to_2016-06-30-23,True
4,2016,3,2016-07-01 00:00:00+00:00,2016-09-30 23:00:00+00:00,2016-07-01 00:00:00+00:00,2016-09-30 23:00:00+00:00,2016_Q3_from_2016-07-01-00_to_2016-09-30-23,True
5,2016,4,2016-10-01 00:00:00+00:00,2016-12-31 23:00:00+00:00,2016-10-01 00:00:00+00:00,2016-12-31 23:00:00+00:00,2016_Q4_from_2016-10-01-00_to_2016-12-31-23,True
6,2017,1,2017-01-01 00:00:00+00:00,2017-03-31 23:00:00+00:00,2017-01-01 00:00:00+00:00,2017-03-31 23:00:00+00:00,2017_Q1_from_2017-01-01-00_to_2017-03-31-23,True
7,2017,2,2017-04-01 00:00:00+00:00,2017-06-30 23:00:00+00:00,2017-04-01 00:00:00+00:00,2017-06-30 23:00:00+00:00,2017_Q2_from_2017-04-01-00_to_2017-06-30-23,True
8,2017,3,2017-07-01 00:00:00+00:00,2017-09-30 23:00:00+00:00,2017-07-01 00:00:00+00:00,2017-09-30 23:00:00+00:00,2017_Q3_from_2017-07-01-00_to_2017-09-30-23,True
9,2017,4,2017-10-01 00:00:00+00:00,2017-12-31 23:00:00+00:00,2017-10-01 00:00:00+00:00,2017-12-31 23:00:00+00:00,2017_Q4_from_2017-10-01-00_to_2017-12-31-23,True
10,2018,1,2018-01-01 00:00:00+00:00,2018-03-31 23:00:00+00:00,2018-01-01 00:00:00+00:00,2018-03-31 23:00:00+00:00,2018_Q1_from_2018-01-01-00_to_2018-03-31-23,True
11,2018,2,2018-04-01 00:00:00+00:00,2018-06-30 23:00:00+00:00,2018-04-01 00:00:00+00:00,2018-06-30 23:00:00+00:00,2018_Q2_from_2018-04-01-00_to_2018-06-30-23,True
12,2018,3,2018-07-01 00:00:00+00:00,2018-09-30 23:00:00+00:00,2018-07-01 00:00:00+00:00,2018-09-30 23:00:00+00:00,2018_Q3_from_2018-07-01-00_to_2018-09-30-23,True
13,2018,4,2018-10-01 00:00:00+00:00,2018-12-31 23:00:00+00:00,2018-10-01 00:00:00+00:00,2018-12-31 23:00:00+00:00,2018_Q4_from_2018-10-01-00_to_2018-12-31-23,True
14,2019,1,2019-01-01 00:00:00+00:00,2019-03-31 23:00:00+00:00,2019-01-01 00:00:00+00:00,2019-03-31 23:00:00+00:00,2019_Q1_from_2019-01-01-00_to_2019-03-31-23,True
15,2019,2,2019-04-01 00:00:00+00:00,2019-06-30 23:00:00+00:00,2019-04-01 00:00:00+00:00,2019-06-30 23:00:00+00:00,2019_Q2_from_2019-04-01-00_to_2019-06-30-23,True
16,2019,3,2019-07-01 00:00:00+00:00,2019-09-30 23:00:00+00:00,2019-07-01 00:00:00+00:00,2019-09-30 23:00:00+00:00,2019_Q3_from_2019-07-01-00_to_2019-09-30-23,True
17,2019,4,2019-10-01 00:00:00+00:00,2019-12-31 23:00:00+00:00,2019-10-01 00:00:00+00:00,2019-12-31 23:00:00+00:00,2019_Q4_from_2019-10-01-00_to_2019-12-31-23,True
18,2020,1,2020-01-01 00:00:00+00:00,2020-03-31 23:00:00+00:00,2020-01-01 00:00:00+00:00,2020-03-31 23:00:00+00:00,2020_Q1_from_2020-01-01-00_to_2020-03-31-23,True
19,2020,2,2020-04-01 00:00:00+00:00,2020-06-30 23:00:00+00:00,2020-04-01 00:00:00+00:00,2020-06-30 23:00:00+00:00,2020_Q2_from_2020-04-01-00_to_2020-06-30-23,True
20,2020,3,2020-07-01 00:00:00+00:00,2020-09-30 23:00:00+00:00,2020-07-01 00:00:00+00:00,2020-09-30 23:00:00+00:00,2020_Q3_from_2020-07-01-00_to_2020-09-30-23,True
21,2020,4,2020-10-01 00:00:00+00:00,2020-12-31 23:00:00+00:00,2020-10-01 00:00:00+00:00,2020-12-31 23:00:00+00:00,2020_Q4_from_2020-10-01-00_to_2020-12-31-23,True
22,2021,1,2021-01-01 00:00:00+00:00,2021-03-31 23:00:00+00:00,2021-01-01 00:00:00+00:00,2021-03-31 23:00:00+00:00,2021_Q1_from_2021-01-01-00_to_2021-03-31-23,True
23,2021,2,2021-04-01 00:00:00+00:00,2021-06-30 23:00:00+00:00,2021-04-01 00:00:00+00:00,2021-06-30 23:00:00+00:00,2021_Q2_from_2021-04-01-00_to_2021-06-30-23,True
24,2021,3,2021-07-01 00:00:00+00:00,2021-09-30 23:00:00+00:00,2021-07-01 00:00:00+00:00,2021-09-30 23:00:00+00:00,2021_Q3_from_2021-07-01-00_to_2021-09-30-23,True
25,2021,4,2021-10-01 00:00:00+00:00,2021-12-31 23:00:00+00:00,2021-10-01 00:00:00+00:00,2021-12-31 23:00:00+00:00,2021_Q4_from_2021-10-01-00_to_2021-12-31-23,True
26,2022,1,2022-01-01 00:00:00+00:00,2022-03-31 23:00:00+00:00,2022-01-01 00:00:00+00:00,2022-03-31 23:00:00+00:00,2022_Q1_from_2022-01-01-00_to_2022-03-31-23,True
27,2022,2,2022-04-01 00:00:00+00:00,2022-06-30 23:00:00+00:00,2022-04-01 00:00:00+00:00,2022-06-30 23:00:00+00:00,2022_Q2_from_2022-04-01-00_to_2022-06-30-23,True
28,2022,3,2022-07-01 00:00:00+00:00,2022-09-30 23:00:00+00:00,2022-07-01 00:00:00+00:00,2022-09-30 23:00:00+00:00,2022_Q3_from_2022-07-01-00_to_2022-09-30-23,True
29,2022,4,2022-10-01 00:00:00+00:00,2022-12-31 23:00:00+00:00,2022-10-01 00:00:00+00:00,2022-12-31 23:00:00+00:00,2022_Q4_from_2022-10-01-00_to_2022-12-31-23,True
30,2023,1,2023-01-01 00:00:00+00:00,2023-03-31 23:00:00+00:00,2023-01-01 00:00:00+00:00,2023-03-31 23:00:00+00:00,2023_Q1_from_2023-01-01-00_to_2023-03-31-23,True
31,2023,2,2023-04-01 00:00:00+00:00,2023-06-30 23:00:00+00:00,2023-04-01 00:00:00+00:00,2023-06-30 23:00:00+00:00,2023_Q2_from_2023-04-01-00_to_2023-06-30-23,True
32,2023,3,2023-07-01 00:00:00+00:00,2023-09-30 23:00:00+00:00,2023-07-01 00:00:00+00:00,2023-09-30 23:00:00+00:00,2023_Q3_from_2023-07-01-00_to_2023-09-30-23,True
33,2023,4,2023-10-01 00:00:00+00:00,2023-12-31 23:00:00+00:00,2023-10-01 00:00:00+00:00,2023-12-31 23:00:00+00:00,2023_Q4_from_2023-10-01-00_to_2023-12-31-23,True
34,2024,1,2024-01-01 00:00:00+00:00,2024-03-31 23:00:00+00:00,2024-01-01 00:00:00+00:00,2024-03-31 23:00:00+00:00,2024_Q1_from_2024-01-01-00_to_2024-03-31-23,True
35,2024,2,2024-04-01 00:00:00+00:00,2024-06-30 23:00:00+00:00,2024-04-01 00:00:00+00:00,2024-06-30 23:00:00+00:00,2024_Q2_from_2024-04-01-00_to_2024-06-30-23,True
36,2024,3,2024-07-01 00:00:00+00:00,2024-09-30 23:00:00+00:00,2024-07-01 00:00:00+00:00,2024-09-30 23:00:00+00:00,2024_Q3_from_2024-07-01-00_to_2024-09-30-23,True
37,2024,4,2024-10-01 00:00:00+00:00,2024-12-31 23:00:00+00:00,2024-10-01 00:00:00+00:00,2024-10-28 00:00:00+00:00,2024_Q4_from_2024-10-01-00_to_2024-12-31-23,False

In [74]:
@flow
def fetch_data(start_ts, end_ts):
    return concurrent_fetch_EIA_data(start_ts, end_ts)

In [75]:
# Given a requested range
start_ts = pd.Timestamp('2024-01-15 10:00:00+00:00')
end_ts = pd.Timestamp('2024-10-30 00:00:00+00:00')
# Determine which parts of the range can be served by DVC chunks, and which must be fetched
# Assume the DVC warehouse chunks are contiguous, and we only append to the recent chunks.
dvc_data_start_ts = idx_df.iloc[0].data_start_ts
dvc_data_end_ts = idx_df.iloc[-1].data_end_ts

if start_ts < dvc_data_start_ts:
    # EIA doesn't serve data before what's already archived in DVC
    # In the future we could extract it from their csv archives and add it to DVC
    raise NotImplementedError
if end_ts > dvc_data_end_ts:
    fetch_start_ts = dvc_data_end_ts
    fetch_end_ts = end_ts
    print(f'Fetch recent data. from:{fetch_start_ts}. to:{fetch_end_ts}')
    df = fetch_data(fetch_start_ts, fetch_end_ts)
    print(df)

Fetch recent data. from:2024-10-28 00:00:00+00:00. to:2024-10-30 00:00:00+00:00

20:53:32.598 | INFO    | prefect.engine - Created flow run 'quick-cuttlefish' for flow 'fetch-data'

20:53:32.605 | INFO    | prefect.engine - View at https://app.prefect.cloud/account/914106c7-cc3b-4c5c-99f4-915f39352746/workspace/d3b27b3d-41ca-47a0-9b5b-2eebd92a4b25/runs/flow-run/04f92616-0035-47a8-8efc-31794256201f

20:53:32.970 | INFO    | Task run 'concurrent_fetch_EIA_data-145' - Created task run 'concurrent_fetch_EIA_data-145' for task 'concurrent_fetch_EIA_data'

Fetching API page. offset:0. length:5000
Total records to fetch: 49
('Fetching 48 hours of data: 49 records.\n', 'Start: 2024-10-28 00:00:00+00:00. End: 2024-10-30 00:00:00+00:00')
Will make 0 5000-length requests and one 49-length request.

20:53:34.643 | INFO    | Task run 'concurrent_fetch_EIA_data-145' - Submitting task get_eia_data_as_df to thread pool executor...

20:53:34.681 | INFO    | Task run 'get_eia_data_as_df-741' - Created task run 'get_eia_data_as_df-741' for task 'get_eia_data_as_df'

Fetching API page. offset:0. length:49

20:53:36.297 | INFO    | Task run 'get_eia_data_as_df-741' - Finished in state Completed()

20:53:36.320 | INFO    | Task run 'concurrent_fetch_EIA_data-145' - Finished in state Completed()

20:53:36.507 | INFO    | Flow run 'quick-cuttlefish' - Finished in state Completed()

                          respondent           respondent-name type type-name  \
utc_ts
2024-10-28 00:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-28 01:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-28 02:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-28 03:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-28 04:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-28 05:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-28 06:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-28 07:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-28 08:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-28 09:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-28 10:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-28 11:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-28 12:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-28 13:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-28 14:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-28 15:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-28 16:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-28 17:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-28 18:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-28 19:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-28 20:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-28 21:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-28 22:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-28 23:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-29 00:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-29 01:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-29 02:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-29 03:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-29 04:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-29 05:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-29 06:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-29 07:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-29 08:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-29 09:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-29 10:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-29 11:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-29 12:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-29 13:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-29 14:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-29 15:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-29 16:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-29 17:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-29 18:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-29 19:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-29 20:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-29 21:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-29 22:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-29 23:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand
2024-10-30 00:00:00+00:00        PJM  PJM Interconnection, LLC    D    Demand

                           value    value-units
utc_ts
2024-10-28 00:00:00+00:00  83483  megawatthours
2024-10-28 01:00:00+00:00  82996  megawatthours
2024-10-28 02:00:00+00:00  80940  megawatthours
2024-10-28 03:00:00+00:00  78193  megawatthours
2024-10-28 04:00:00+00:00  75879  megawatthours
2024-10-28 05:00:00+00:00  74330  megawatthours
2024-10-28 06:00:00+00:00  73898  megawatthours
2024-10-28 07:00:00+00:00  73507  megawatthours
2024-10-28 08:00:00+00:00  74169  megawatthours
2024-10-28 09:00:00+00:00  75456  megawatthours
2024-10-28 10:00:00+00:00  79190  megawatthours
2024-10-28 11:00:00+00:00  86486  megawatthours
2024-10-28 12:00:00+00:00  92066  megawatthours
2024-10-28 13:00:00+00:00  92763  megawatthours
2024-10-28 14:00:00+00:00  89784  megawatthours
2024-10-28 15:00:00+00:00  86663  megawatthours
2024-10-28 16:00:00+00:00  84839  megawatthours
2024-10-28 17:00:00+00:00  83580  megawatthours
2024-10-28 18:00:00+00:00  83526  megawatthours
2024-10-28 19:00:00+00:00  83266  megawatthours
2024-10-28 20:00:00+00:00  83220  megawatthours
2024-10-28 21:00:00+00:00  83498  megawatthours
2024-10-28 22:00:00+00:00  85671  megawatthours
2024-10-28 23:00:00+00:00  88370  megawatthours
2024-10-29 00:00:00+00:00  89201  megawatthours
2024-10-29 01:00:00+00:00  87460  megawatthours
2024-10-29 02:00:00+00:00  84331  megawatthours
2024-10-29 03:00:00+00:00  80967  megawatthours
2024-10-29 04:00:00+00:00  78190  megawatthours
2024-10-29 05:00:00+00:00  75466  megawatthours
2024-10-29 06:00:00+00:00  73629  megawatthours
2024-10-29 07:00:00+00:00  72779  megawatthours
2024-10-29 08:00:00+00:00  72710  megawatthours
2024-10-29 09:00:00+00:00  73546  megawatthours
2024-10-29 10:00:00+00:00  76638  megawatthours
2024-10-29 11:00:00+00:00  83503  megawatthours
2024-10-29 12:00:00+00:00  88665  megawatthours
2024-10-29 13:00:00+00:00  88833  megawatthours
2024-10-29 14:00:00+00:00  86921  megawatthours
2024-10-29 15:00:00+00:00  85732  megawatthours
2024-10-29 16:00:00+00:00  85398  megawatthours
2024-10-29 17:00:00+00:00  85092  megawatthours
2024-10-29 18:00:00+00:00  85118  megawatthours
2024-10-29 19:00:00+00:00  85517  megawatthours
2024-10-29 20:00:00+00:00  85952  megawatthours
2024-10-29 21:00:00+00:00  87239  megawatthours
2024-10-29 22:00:00+00:00  88931  megawatthours
2024-10-29 23:00:00+00:00  90537  megawatthours
2024-10-30 00:00:00+00:00  91149  megawatthours